{% extends "parent.njk" %}

{% block content %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}


  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
<form class="form-horizontal" method="POST" data-toggle="validator" id="form">
    {{ csrfField }}
  <fieldset>
    <legend>Új mérkőzés felvitele</legend>
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">1. Játékos</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="player1" name="player1" value="{{ old('player1') }}" placeholder="1. játékos" required>
      </div>
    </div>

    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">2. Játékos</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="player2" name="player2" value="{{ old('player2') }}" placeholder="2. játékos" required>
      </div>
    </div>

    
    <div class="form-group">
        <label class="col-lg-2 control-label">Eredmény</label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    <input type="radio" name="result" id="optionsRadios1" value="1" required>
                    Az 1. játékos nyert
                </label>
                </div>

            <div class="radio">
                <label>
                    <input type="radio" name="result" id="optionsRadios2" value="2" required>
                    A 2. játékos nyert
                </label>
                </div>
            </div>
      </div>


        <div class="form-group">
      <label for="username" class="col-lg-2 control-label">A meccs dátuma</label>
      <div class="col-lg-10">
        <input type="date" class="form-control" id="date" name="date" value="{{ old('date') }}" placeholder="dátum" required>
      </div>
    </div>

    
    
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" id="create">Kuldés</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}