
{% extends "parent.njk" %}

{% block content %}


{% block scripts %}
  <link href="/search.css" rel="stylesheet">
   <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/search.js"></script>
{% endblock %}


<h2>Közösségek böngészése</h2>
<br>

<form id="search" action="/community/list" method="GET">
  {{ csrfField | safe }}  
  <div class="input-group search-box">
    <input type="text" class="form-control community-search" id="name" placeholder="Keresés..." name="name" value="" autocomplete="off">
    <div class="list-group community-suggestions suggestions"></div>
    <span class="input-group-btn">
      <button class="btn btn-info" type="submit">Mehet!</button>
    </span>
  </div>
</form>



<br><br>





<div class="community">
  {% for community in communities.data  %}
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% for category in categories %}
            {% if category.id == community.category_id %}
                {{ category.name }}   
            {% endif %}
          {% endfor %}        
      </div>

      <ul class="list-group">
        
        <li class="list-group-item">
          <a href="/community/{{ community.id }}">
            {{ community.name }}
          </a>
        </li>
        
      </ul>
    </div>
  </div>
  {% endfor %}
</div>



<br><br><br><br><br><br><br><br><br><br>
<ul class="pagination">

  {% for i in range(1, communities.lastPage + 1) %}
    {% if (i==communities.currentPage) %}
    <li class="active"><a href="#">{{ i }}</a></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}