{% extends "parent.njk" %}

{% block content %}

  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
<form class="form-horizontal" method="POST">
    {{ csrfField }}
  <fieldset>
    <legend>Belépés</legend>
    <div class="form-group">
      <label for="email" class="col-lg-2 control-label">E-mail</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="email" value="{{ old('email') }}" placeholder="E-mail">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Jelszó</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Jelszó">
    
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Belépés!</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}