{% extends "parent.njk" %}
 
{% block content %}
<h2>Saját közösség megtekintése</h2><br>

<a href="{{ community.id }}/creatematch" class="btn btn-default">Új mérkőzés felvitele</a>
<br><br>

<div class="panel panel-primary">
      <div class="panel-heading">{{ category.name }}</div>
      <div class="panel-body">{{ community.name }}</div>     
</div>

<div class="panel panel-default">
    <!-- Table -->
    <table class="table">        
        <tr>
            <th>Helyezés</th>
            <th>Név</th>
            <th>ELO-pontszám</th>
        </tr>
    
        {% set j = 1 %}
        {% for player in players %} 
            <tr>
                <td> {{ j }} </td>
                <td> {{player.name}} </td>
                <td> {{player.elo}} </td>
                {% set j = j + 1 %}    
            </tr>    
        {% endfor %}  
  </table>  
</div>



<h3>Mérkőzések listája</h3>


<div class="panel panel-default">
    <!-- Table -->
    <table class="table">        
        <tr>
            <th></th>
            <th>1. Játékos</th>
            <th>2. Játékos</th>
            <th>Eredmény</th>
            <th>Dátum</th>            
            <th>Feltöltés ideje</th>
        </tr>
    
        {% set j = 1 %}
        {% for match in matches %} 
            <tr>
                <td> {{ j }} </td>
                <td> {{match.player1}} </td>
                <td> {{match.player2}} </td>
                <td> {{match.result}} </td>
                <td> {{match.date}} </td>
                <td> {{match.created_at}} </td>
                {% set j = j + 1 %}    
            </tr>    
        {% endfor %}  
  </table>  
</div>



{% endblock %}